*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #777777;
    font-size: 1.6rem;
    letter-spacing: .2rem;
    padding: 5rem;
    background-color: white;
}

html {
    font-size: 62.5%;
}

.container {
    background-color: #F7F7F7;
}